img {
    width: 24vi; /* or any custom size */
    height: 20vi; 
}

.menu-section {
    margin-left:5%;
    display: inline-block;
}

.menu-section article {
    float: left;
    padding: 2%;
}

.title {
    text-align: center;
}

.buttons{
    text-align:center;
}